In [1]:
import csv
import mysql

ModuleNotFoundError: No module named 'mysql'

In [2]:
conn = mysql.connector.connect(
    host="localhost",
    user="jeremy",
    password="Mysql.003",
    database="prompt_bi_db"
)

cursor = conn.cursor()

with open('./datasets/shopping_behavior_updated.csv', 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)  # skip header

    for row in csv_data:
        cursor.execute("""
            INSERT INTO your_table (col1, col2, col3)
            VALUES (%s, %s, %s)
        """, row)

conn.commit()
cursor.close()
conn.close()

print("CSV imported successfully!")

AttributeError: module 'mysql' has no attribute 'connector'

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# --- 1. Load your CSV file into a DataFrame ---
df = pd.read_csv("./datasets/shopping_behavior_updated.csv")

# --- 2. Create a MySQL connection engine ---
username = "jeremy"
password = "Mysql.003"
host = "localhost"
database = "prompt_bi_db"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

# --- 3. Save to MySQL table ---
df.to_sql(
    name="shopping",
    con=engine,
    if_exists="append",   # or "replace"
    index=False
)

print("CSV successfully saved to MySQL!")

CSV successfully saved to MySQL!

In [3]:
%load_ext sql

In [4]:
%sql mysql+pymysql://{username}:{password}@{host}/{database}

In [5]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [7]:
%sql

WITH monthly AS (
  SELECT
    DATE_TRUNC('month', order_date) AS month,
    category,
    SUM(revenue) AS revenue,
    SUM(units) AS units
  FROM orders
  GROUP BY 1,2
), month_overall AS (
  SELECT month, SUM(revenue) AS total_revenue
  FROM monthly
  GROUP BY 1
)
SELECT monthly.month, monthly.category, monthly.revenue,
       ROUND((m.revenue / AVG(m.revenue) OVER (PARTITION BY m.category))::numeric,2) AS seasonality_index,
       mo.total_revenue
FROM monthly m
JOIN month_overall mo USING (month)
WHERE m.category IN ('Outerwear')
ORDER BY m.month;

SyntaxError: invalid syntax (303889636.py, line 3)

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="your_password",
    database="your_database",
    allow_local_infile=True
)

cursor = conn.cursor()

query = """
LOAD DATA LOCAL INFILE 'your_file.csv'
INTO TABLE your_table
FIELDS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;
"""

cursor.execute(query)
conn.commit()

cursor.close()
conn.close()

print("FAST load completed!")